.loading {
    position: fixed;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.5) url(/images/load.svg) 50% no-repeat;
    z-index: 999;
}